/* =============
    Base
============= */
* {
    box-sizing: border-box;
}

img {
    width: 198px;
    height: 189px;
}

body {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    background-image: url("assets/Colors.gif");
}

.content {
    display: flex;
    width: 50vw;
    height: 45vh;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    flex-shrink: 0;
    margin: auto;
}

.topBar, .bottomBar {
    display: flex;
    // flex-direction: row;
    justify-content: space-between;
    // width: 100%;
    align-items: flex-start;
    align-self: stretch;
}